config=$(nix show-config --json)
system=$(echo "$config" | jq -r .system.value)
if [ "$system" = "aarch64-darwin" ]; then
  supports_x86_darwin=$(echo "$config" | jq -e '."extra-platforms".value|any(. == "x86_64-darwin")')
  if $supports_x86_darwin; then
    use flake .\#devShell.x86_64-darwin
  else
    use flake
  fi
else
  use flake
fi

PATH_add scripts
